<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="index.html">
        <img src="images/logo-ecommerce.svg" width="30" height="30" class="d-inline-block align-top" alt="Logo Ecommerce-App">Ecommerce-App
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto ml-auto mt-2 mt-lg-0 text-center">
                <li class="nav-item active">
                <a th:href="@{/index}" class="nav-link">Usuarios</a>
                </li>
                <li class="nav-item">
                <a th:href="@{/admin/listar}" class="nav-link">Productos</a>
                </li>
                <li class="nav-item">
                <a th:href="@{/admin/listarCategoria}" class="nav-link">Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="register.html">Usuario</a>
                </li>
            </ul>
            
            <form class="form-inline my-2 my-lg-0 d-flex justify-content-center">
                <a class="navbar-brand" href="" data-toggle="modal" data-target="#modalCart">
                <img src="images/shopping-cart.svg" width="27"  alt="shopping-cart">
                </a>
                <a class="navbar-brand" th:href="@{/login}" title="Login">
                 <i class="far fa-user"></i></a>
                <input class="form-control mr-sm-2" type="search" placeholder="Producto" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
  </nav>