<!DOCTYPE html>
<html lang="es" 
	xmls:th="http://www.thymeleaf.org">
	<head th:replace="layout/head.html::head">
	</head>
<body>
   <nav th:replace="layout/nav.html::nav"></nav> 
<div class="album py-5 bg-light">
	<div class="container">
			<h1>Categorias</h1>
			<table class="table" border="1">
				<thead>
					<tr>
				      <th scope="col">ID</th>
				      <th scope="col">Nombre</th>
				      <th scope="col" style="text-align:right"><a th:href="@{/admin/newCategoria}" class="btn btn-success circle px-3"><i class="fas fa-plus"></i></a></th>        
		    	</tr>
			</thead>
			<tbody>
				<tr th:each="categoria:${categorias}">
					<td th:text="${categoria.id}"></td>
					<td th:text="${categoria.nombre}"></td>	
	                <td class="d-flex justify-content-end align-items-center">
	                        <a th:href="@{/admin/editarCategoria/}+${categoria.id}" class="circle waves-effect mr-2" title="Editar"><i class="fas fa-edit text-warning"></i></a>
	                        <!-- <a th:onClick="/admin/eliminar([[${categoria.id}]])" class="circle waves-effect mr-2" title="Eliminar"><i class="fas fa-trash-alt text-danger"></i></a>-->
	                <a class="circle waves-effect mr-2" 
						th:href="@{/admin/eliminarCategoria/} +${categoria.id}"
						onclick="return confirm('Estas seguro de eliminar')" title="Eliminar"><i class="fas fa-trash-alt text-danger"></i></a>
	                </td>
	              
				</tr>	
			</tbody>
		</table>
	</div>
</div>
	
	<!-- CDN JQUERY -->
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<!-- CDN SWEETALERT (para los msj de alerta) -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	
<!-- CDN JQUERY -->
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<!-- CDN SWEETALERT (para los msj de alerta) -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- <script src="funcion.js"></script>	-->

<script type="text/javascript">
function eliminar(id){
	swal({
	  title: "Estas seguro de eliminar?",
	  text: "Una vez eliminado, no podrá recuperar categoria!",
	  icon: "warning",
	  buttons: true,
	  dangerMode: true,
	})
	.then((OK) => {
	  if (OK) {
	  $.ajax({
	  		url:"/admin/eliminarCategoria"+id,
	  		success: function(res) {
	  			console.log(res);
	  		},
	  	});
	    swal("Eliminado! Tu archivo ha sido eliminado con éxito!", {
	      icon: "success",
	    }).then((ok)=>{
	    	if(ok){
	    		location.href="/admin/listarCategoria";
	    		}
	    	});
	  } else {
	    swal("Tu archivo esta seguro!");
	  }
	});
}
</script>
</body>
<footer th:replace="layout/footer.html::footer"></footer>
</html>