<!DOCTYPE html>
<html>
<head th:replace="layout/head.html::head"></head>
<body>

 <!--barra de navegación-->
     <nav th:replace="layout/nav.html::nav"></nav> 
    
  
<div class="container mt-5 py-5">
	<h1>Registro producto</h1>
	<form th:action="@{/admin/save}" th:object=${producto} method="POST" enctype="multipart/form-data">
		
		<div class="md-form">
		   <label>Nombre</label>
		   <input th:field="*{nombre}" type="text" class="form-control" name="apellido" value="">
		</div>
		
		<div class="md-form">
		   <label>Marca</label>
		   <input th:field="*{marca}" type="text" class="form-control" name="nombre" value="">
		</div>
		
		<div class="md-form">
		   <label>Descripcion</label>
		   <input th:field="*{descripcion}" type="text" class="form-control" name="cargo" value="">
		</div>
			<div class="md-form">
		   <label>Precio</label>
		   <input th:field="*{precio}" type="text" class="form-control" name="nombre" value="">
		</div>
		
		<div class="md-form">
		   <label>Genero</label>
		   <input th:field="*{genero}" type="text" class="form-control" name="cargo" value="">
		</div>
		<div class="form-group">
		   <label>ID Tipo</label>
		   <!-- <input th:field="*{tipo_id}" type="text" class="form-control" name="nombre" value="">-->
		   <select th:field="*{tipo_id}" class="form-control">
              <option  th:value=1 th:text="A"/>
              <option  th:value=2 th:text="B"/>
              <option  th:value=3 th:text="C"/>
          	</select>
		</div>
		
		<div class="form-group">
		<label>Categorias</label>
			 <select th:field="*{categoria_id}" class="form-control">
             <tr th:each="categoria:${categorias}">
              <option  th:value="${categoria.id} "th:text="${categoria.nombre}"/>
          	</tr>
          	</select>
		</div>		
		<div class="">
		   <label for="imagen">Imagen</label>
		   <input id="imagen" type="file" class="form-control" name="file" value="">
		</div>
      <br>
        <button type="submit" class="btn btn-danger waves-effect rounded-pill">Agregar</button>
        <a  class="btn btn-outline-danger waves-effect rounded-pill" th:href="@{/admin/listar}">Cancelar</a>
       
	</form>
</div>

<!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> 
<footer th:replace="layout/footer.html::footer"></footer>
</body>
</html>



